table.table-application{
	width:100%;
	border:1px solid #333;
	border-collapse:collapse;
	font-size:14px;
	color:#333;
	margin:20px 0;
}
table.table-application th{
	padding:10px 0;
}
table.table-application td{
	padding:5px;
	border:1px solid #333;
	text-align:center;
}
div.dataTables_filter{
	margin-bottom:5px;
}
p.p-download a{
	display:inline-nlock;
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding:12px 30px;
	background:#f00;
	border-radius:5px;
}
p.p-download a.link-file{
	display:inline-block;
	background:#008000;
	margin-left:15px;
}